<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parras Dev</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo/css/styles.css' %}">
    <script src="{% static 'todo/js/scripts.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* CSS adicional para la barra lateral y el contenido */
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            padding: 48px 0 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        .main-content {
            margin-left: 220px; /* Ancho de la barra lateral */
            padding: 20px;
        }

        .content-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 80vh; /* Ajusta la altura mínima del contenedor */
        }

        .table-responsive {
            width: 100%;
            max-width: 1000px; /* Ajusta el ancho máximo de la tabla */
        }

        .table-title {
            font-weight: bold;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Barra lateral -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" id="link-ids">
                                Lista de todos los pendientes (solo IDs)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="link-ids-titles">
                                Lista de todos los pendientes (IDs y Titles)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="link-unresolved-ids-titles">
                                Lista de todos los pendientes sin resolver (ID y Title)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="link-resolved-ids-titles">
                                Lista de todos los pendientes resueltos (ID y Title)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="link-ids-userids">
                                Lista de todos los pendientes (IDs y userID)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="link-resolved-ids-userids">
                                Lista de todos los pendientes resueltos (ID y userID)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="link-unresolved-ids-userids">
                                Lista de todos los pendientes sin resolver (ID y userID)
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Contenido principal -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main-content">

                <div id="content" class="content-wrapper">
                    <!-- Aquí se cargará el contenido dinámico -->
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Función para cargar datos desde una URL y renderizar la tabla
            function loadTable(url, headers, title) {
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        const content = document.getElementById('content');
                        let table = `<div class="table-responsive">
                            <div class="table-title text-center"><h2>${title}</h2></div>
                            <table class="table table-striped table-bordered"><thead><tr>`;
                        headers.forEach(header => {
                            table += `<th>${header}</th>`;
                        });
                        table += '</tr></thead><tbody>';
                        data.forEach(item => {
                            table += '<tr>';
                            headers.forEach(header => {
                                table += `<td>${item[header.toLowerCase().replace(' ', '_')]}</td>`;
                            });
                            table += '</tr>';
                        });
                        table += '</tbody></table></div>';
                        content.innerHTML = table;
                    });
            }

            // Asignar eventos de clic a los enlaces de navegación
            document.getElementById('link-ids').addEventListener('click', function(event) {
                event.preventDefault();
                loadTable('/api/todo/ids/', ['ID'], 'Lista de todos los pendientes (solo IDs)');
            });
            document.getElementById('link-ids-titles').addEventListener('click', function(event) {
                event.preventDefault();
                loadTable('/api/todo/ids-titles/', ['ID', 'Title'], 'Lista de todos los pendientes (IDs y Titles)');
            });
            document.getElementById('link-unresolved-ids-titles').addEventListener('click', function(event) {
                event.preventDefault();
                loadTable('/api/todo/unresolved-ids-titles/', ['ID', 'Title'], 'Lista de todos los pendientes sin resolver (ID y Title)');
            });
            document.getElementById('link-resolved-ids-titles').addEventListener('click', function(event) {
                event.preventDefault();
                loadTable('/api/todo/resolved-ids-titles/', ['ID', 'Title'], 'Lista de todos los pendientes resueltos (ID y Title)');
            });
            document.getElementById('link-ids-userids').addEventListener('click', function(event) {
                event.preventDefault();
                loadTable('/api/todo/ids-userids/', ['ID', 'User ID'], 'Lista de todos los pendientes (IDs y userID)');
            });
            document.getElementById('link-resolved-ids-userids').addEventListener('click', function(event) {
                event.preventDefault();
                loadTable('/api/todo/resolved-ids-userids/', ['ID', 'User ID'], 'Lista de todos los pendientes resueltos (ID y userID)');
            });
            document.getElementById('link-unresolved-ids-userids').addEventListener('click', function(event) {
                event.preventDefault();
                loadTable('/api/todo/unresolved-ids-userids/', ['ID', 'User ID'], 'Lista de todos los pendientes sin resolver (ID y userID)');
            });
        });
    </script>
</body>
</html>
