{% extends 'todo/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Lista de Pendientes Sin Resolver (IDs y UserIDs)</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="todo-table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>User ID</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los datos se llenarán aquí mediante JavaScript -->
            </tbody>
        </table>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    fetch('/api/todo/unresolved-ids-userids/')
        .then(response => response.json())
        .then(data => {
            const tableBody = document.querySelector('#todo-table tbody');
            data.forEach(todo => {
                const row = document.createElement('tr');
                const cellID = document.createElement('td');
                const cellUserID = document.createElement('td');
                cellID.textContent = todo.id;
                cellUserID.textContent = todo.user_id;
                row.appendChild(cellID);
                row.appendChild(cellUserID);
                tableBody.appendChild(row);
            });
        });
});
</script>
{% endblock content %}
