<!-- todo/templates/todo/todos_resolved_ids_titles.html -->
{% extends 'todo/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Lista de Pendientes Resueltos (IDs y Titles)</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr>
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
